:root {
    /* COLORS */
    --primary-color: #454125;
    --secondary-color: #dddfe7;
    --overlay-color: #23252a83;

    /* SHADOW */
    --drop-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* set size for all p elements */


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    color: var(--primary-color);
}

/* SECTION TITLE STYLES */

.section-title {
    text-align: left;
    margin: 20px 60px;
    width:fit-content;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 5px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 3px;
}

/* NAV */

nav {
    display: flex;
    width: 98%;
    justify-content: space-between;
    background-color: white;
    z-index: 5;
    transition: all 0.3s ease;
    border-bottom: 1px solid var(--primary-color);
    margin: 0px auto;
}

.nav-fixed {
    position: fixed;
    top:0;
    left:30px;
}

.house-logo {
    height: 75px;
    width: 75px;
}

.logo-container {
    display: flex;
}

.logo-container:hover{
    cursor: pointer;
}

.logo-text {
    font-size: 0.7rem;
    padding-top: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-top: 15px;
}

.nav-links a{
    text-decoration: none;
    color: var(--primary-color);
}

.nav-links li {
    list-style-type: none;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

.small-screen-menu-toggle {
    height: 0;
    width: 0;
}

/* HEADER */

header {
    min-height: 70vh;
    width: 100%;
    position: relative;
}

.header-logo{
    height: 250px;
    width: 250px;
}

header h1 {
    color: var(--primary-color);
    position: relative;
    z-index: 2;
    padding-top: 15px;
    /* text-shadow: var(--drop-shadow); */
    line-height: 1.2;
    font-size: 5rem;
}

.intro-paragraph {
    line-height: 2rem;
    margin-top: 15px;
    padding: 5px 0px;
    font-size: 1.2rem;
}

.header-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
    padding-right: 20px;
    padding-left: 25px;
    padding-bottom: 30px;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-bottom: 20px;
}

.header-img-container {
    padding-top: 100px;
    /* padding-left: 10px; */
    padding-right: 20px;
}

.header-home-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.border-div {
    height: 2px;
    background-color: var(--primary-color);
    width: 95%;
    margin: 20px auto;
}

/* PROJECTS SECTION */

.projects-section-2 {
    max-width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 45px;
    margin: 15px auto;
    padding-bottom: 30px;
}

.projects-section-2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.projects-header {
    text-align: center;
    margin: 20px auto;
    width:fit-content;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 5px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.project-pic-box {
    display: flex;
    flex-direction: column;
    box-shadow: var(--drop-shadow);
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.project-pic-box:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.project-pic-box h4 {
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.538);
    z-index: 10;
}

.hidden {
    display: none;
}

/* PROJECT MODAL */

.project-modal {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 5px;
    z-index: 30;
}

.modal-figure {
    height: 100%;
}

.modal-img-container {
    height: 70%;
    width: auto;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

.project-modal img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-modal figcaption {
    padding: 20px 30px;
    font-size: 1.3rem;
    line-height: 2rem;
}

.project-modal h4 {
    padding: 6px 0px;
    border-top: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    width: 95%;
    margin: 20px auto 0;
    font-size: 2.2rem;
}

.project-modal span {
    display: inline-block;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.5rem;
    line-height: 0.6;
    background: rgba(0, 0, 0, 0.587);
    border: none;
    border-radius: 10%;
}

.project-modal span:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.project-modal i{
    font-size: 2rem;
    color: white;
    text-shadow: var(--drop-shadow)
}

.project-modal i:nth-of-type(1){
    position: absolute;
    top: 200px;
    left: 10px;
}

.project-modal i:nth-of-type(2){
    position: absolute;
    top: 200px;
    right: 10px;
}

.project-modal i:nth-of-type(1):hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.project-modal i:nth-of-type(2):hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
}



.hidden {
    display: none;
}

.show-modal {
    display: block;
    z-index: 20;
}

/* TESTIMONIALS SECTION */

.testimonials-section {
    /* border-top: 2px solid var(--primary-color); */
    width: 90vw;
    margin-left: 5vw;
    margin-top: 30px;
}

.testimonial {
    color: var(--primary-color);
    padding: 8px;
    font-weight: 500;
    font-size: 2rem;
}

.testimonial-author {
    color: var(--primary-color);
    text-align: end;
    padding: 8px;
    font-size: 0.9rem;
    line-height: 1.3;
}

.carousel-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 190px; 
}

.testimonial-container {
    position: absolute;
    top:0;
    left:0;
    height: 190px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.25s ease-in-out;
}

.testimonials-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
    margin: auto;
    padding-bottom: 20px;
}

/* SERVICES SECTION */

.services-section {
    max-width: 90vw;
    margin: 15px auto;
}

.services-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-bottom: 30px;
}

.services-main-text {
    grid-row-start: 1;
    grid-row-end: 3;
}

.service-description {
    font-size: 1.1rem;
    padding-top: 20px;
    line-height: 1.5;
}

.services-section i {
    font-size: 3rem;
    padding-bottom: 15px;
}

.services-section h4 {
    font-size: 1.3rem;
    padding-bottom: 15px;
    border-bottom: 2px solid var(--primary-color);
}

.services-bold-text {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

/* TEAM SECTION */

.team {
    margin: 20px 60px;
}

.builder-img-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.builder-pic {
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: 0% 30%;
    border-radius: 10px;
}

.team-section h1 {
    padding: 20px 60px;
    font-size: 3rem;
}

.chase-intro {
    font-size: 1.1rem;
    padding: 10px 60px 30px 60px;
}

.team-section .chase-quote {
    width: 90%;
    color: var(--primary-color);
    padding: 8px 0px 8px 60px;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 75px;
}

.join-team-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 20px;
    padding-right: 20px;
    padding-left: 25px;
    padding-bottom: 30px;
}

.join-team-text-container {
    display: flex;
    flex-direction: column;
}

.join-team-text-container h1{
    padding-left: 38px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.join-team-text{
    padding-left: 38px;
    margin: 30px 0px;
    font-size: 1.2rem;
}

.join-team-text-container a{
    padding-left: 38px;
    font-size: 1.5rem;
    margin-top: 20px;
}

.join-team-img-container {
    padding-right: 20px;
}


.join-team-home-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* VALUES SECTION */

.values-section-grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
    width: 90%;
    margin: 0px auto;
}

.values-main-text-container {
    grid-row-start: 1;
    grid-row-end: 3;
}

.values-main-text {
    font-size: 2.2rem;
}

.values-section-grid-container h4 {
    font-size: 1.4rem;
}

.values-section-grid-container p {
    font-size: 1.1rem;
    line-height: 1.5;
}

.values-icons {
    width: 80px;
    height: 80px;
    
}

.values-border-div {
    height: 2px;
    background-color: var(--primary-color);
    width: 100%;
    margin: 15px 0 20px 0;
}

/* ABOUT SECTION */

.about-section {
    margin-bottom: 20px;
}

.about-section h1 {
    font-size: 2.2rem;
}

.about-section-grid-container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 0px auto;
}

.about-section-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about-section-grid-container p{
    font-size: 1.2rem;
    line-height: 2rem;
    padding-top: 15px;
}

/* FOOTER */

footer {
    background-color: #454125;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-house-logo {
    height: 100px;
    width: 100px;
}

.footer-logo-container {
    display: flex;
    padding-left: 50px;
}

.footer-logo-text {
    font-size: 0.8rem;
    padding-top: 35px;
    color: white;
}

footer a {
        font-size: 0.9rem;
        padding-top: 5px;
        color: white;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 60px;
}

.footer-menu-container {
    display: flex;
    flex-direction: column;
}

.footer-contact-container {
    display: flex;
    flex-direction: column;
}

footer ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

/* ********************** MOBILE VERTICAL SCREEN STYLES ********************** */

@media only screen and (max-width: 430px) {

    /* NAV */

    nav {
        display: flex;
        width: 95%;
        /* justify-content: space-between; */
        flex-direction: column;
        background-color: white;
        z-index: 5;
        transition: all 0.3s ease;
        border-bottom: 1px solid var(--primary-color);
        margin: 0px auto;
    }

    .small-screen-menu-toggle {
        position: absolute;
        top: 25px;
        right: 20px;
        height: 25px;
        width: 25px;
    }

    .house-logo {
        height: 50px;
        width: 50px;
        margin-top: 15px;
        margin-bottom: -17px;
    }

    .logo-text {
        font-size: 0.5rem;
        padding-top: 27px;
        margin-bottom: -17px;
    }

    .menu-toggle-fixed {
        position: fixed;
        top: 25px;
        right: 15px;
        z-index: 10;
    }
    
    .nav-fixed {
        position: fixed;
        top:0;
        left:8px;
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .display-links{
        height: 200px;
    }

    .nav-links li {
        font-size: 0.8rem;
    }

    /* HEADER SECTION */

    header {
        position: relative;
        height: auto;
        min-height:fit-content;
    }

    header h1 {
        font-size: 2.5rem;
    }

    .intro-paragraph {
        font-size: 0.9rem;
    }

    .header-logo {
        height: 150px;
        width: 150px;
        margin-left: -20px;
    }

    .header-home-pic {
        width: 0;
        height: 0;
    }

    .header-img-container {
        height: 0;
        display: none;
        overflow: hidden;
    }

    .header-grid-container {
        display: block;
        width: 100%;
        padding-bottom: 0;
    }

    .header-text-container {
        padding-left: 0;
    }

    /* PROJECTS SECTION */

    .projects-section-2 {
        max-width: 90vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        gap: 30px;
        margin: 15px auto;
    }

    .project-pic-box {
        display: flex;
        flex-direction: column;
        box-shadow: var(--drop-shadow);
        background-color: var(--secondary-color);
    }

    .project-pic-box h4 {
        display: flex;
        flex-direction: column;
        box-shadow: var(--drop-shadow);
        background-color: var(--secondary-color);
        padding-bottom: 5px;
    }

    .projects-section-2 img {
        min-height: 200px;
        width: 100%;
        object-fit: cover;
    }

    /* PROJECT MODAL */

    .project-modal {
        position: fixed;
        width: 80%;
        max-width: 500px;
        min-height: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        transition: height 0.3s ease;
        z-index: 10;
    }

    .modal-figure{
        height: 100%;
    }

    .show-modal {
        height: auto;
    }

    .project-modal img {
        height: auto;
        width: 100%;
        object-fit:cover; 
    }

    .modal-img-container {
        min-height: 70%;
    }

    .project-modal figcaption {
        font-size: 0.7rem;
        padding: 10px 20px;
        line-height: 1.3rem;
    }

    .project-modal i:nth-of-type(1){
        position: absolute;
        top: 75px;
        left: 10px;
    }
    
    .project-modal i:nth-of-type(2){
        position: absolute;
        top: 75px;
        right: 10px;
    }

    .project-modal h4 {
        padding: 6px 0px;
        border-top: 2px solid var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
        width: 85%;
        margin-left: 20px;
        margin-top: 5px;
        font-size: 2.2rem;
    }

    /* TESTIMONIALS SECTION */

    .carousel-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 230px; 
    }

    .testimonial {
        color: var(--primary-color);
        padding: 8px;
        font-weight: 400;
        font-size: 1.2rem;
    }

    /* SERVICES SECTION */

    .services-grid-container {
        display: block;
    }

    .service-description {
        font-size: 0.9rem;
        padding-top: 20px;
        line-height: 1.5;
    }

    .service-container {
        margin: 30px 0;
    }

    .services-section p{
        padding-top: 10px;
    }

    .services-section h4 {
        padding-bottom: 5px;
    }

/* TEAM SECTION */

    .team-section h1{
        padding-left: 20px;
    }

    .builder-img-container {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
    }
    
    .builder-pic {
        width: 90%;
        height: auto;
        object-fit: cover;
        object-position: 0% 30%;
        border-radius: 10px;
    }

    .chase-intro {
        font-size: 0.9rem;
        padding-left: 22px;
    }

    .team-section .chase-quote {
        padding-left: 20px;
        font-size: 1.2rem;
    }

    .section-title {
        margin: 20px; 
    }

    .join-team-container {
        display: block;
    }

    .join-team-container h1 {
        padding: 10px 0;
        font-size: 2.2rem;
    }

    .join-team-text {
        padding: 0px;
        font-size: 1.1rem;
    }

    .join-team-text-container a {
        padding: 0px;
        margin-bottom: 30px;
    }

    /* VALUES SECTION */

    .values-section{
        margin-bottom: 30px;
    }

    .values-section-grid-container{
        display: block;
        margin-bottom: 50px;
    }

    .values-main-text{
        font-size: 1.5rem;
    }

    .value-container{
        margin: 25px 0;
    }

    .values-border-div {
        margin: 10px 0;
    }

    /* ABOUT SECTION */

    .about-section-grid-container{
        display: block;
    }

    .about-section-img{
        margin-bottom: 15px;
    }

    .about-section-grid-container p{
        margin-bottom: 50px;
        font-size: 1.1rem;
    }

    /* FOOTER */

    footer {
        background-color: #454125;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .footer-house-logo {
        height: 50px;
        width: 50px;
        
    }
    
    .footer-logo-container {
        display: flex;
        padding-left: 10px;
    }
    
    .footer-logo-text {
        font-size: 0.5rem;
        color: white;
        padding-top: 12px;
    }
    
    footer a {
            font-size: 0.9rem;
            padding-top: 5px;
            color: white;
    }
    
    .footer-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 60px;
    }
    
    .footer-menu-container {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-right: 25px;
    }
    
    .footer-contact-container {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .footer-menu-text {
        font-size: 0.7rem;
        color: white;
        padding-top: 12px;
    }
    
    footer ul{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    footer ul a{
        font-size: 0.7rem;
    }
    
}

/*  */